.homeAbsolute {
    position: absolute;
    top: 17%;
    left: 10%;
}

.ingredientWidth {
    max-width: 200px;
}


.scrubBall1 {
    position: relative;
    top: 0;
    left: 0;
}

.scrubBall2 {
    position: absolute;
    top: 10%;
    left: 10%
}

.ingredient1 {
    position: absolute;
    top: 0;
    left: 20%;
    transform: rotate(330deg);
    max-height: 50%;
}

.ingredient2 {
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: rotate(30deg);
    max-height: 50%;
}

.ingredient3 {
    position: relative;
    top: 20%;
    left: -32%
}

.ingredient4 {
    position: absolute;
    top: 20%;
    left: 0
}

.about4 {
    position: absolute;
    right: 15%;
    bottom: -13%;
}

.sideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFF4FE;
    overflow-x: hidden;
    transition: 0.5s;
}

.fullHeight {
    height: 100vh;
}

.removeBlueLink:hover {
    color: #DC9C9C;
    cursor: pointer;
}


@media(max-width: 992px) {
    .ingredientWidth {
        max-width: 100px;
    }
}


