// Fonts
@import "fonts/fonts";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.mainColor {
    color: #DC9C9C;
}

.bg-pink {
    background-color: #FFF4FE;
}

.ingredientWidth {
    width: 350px !important;
}
