// Fonts
@import "fonts/fonts";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'react-notifications/lib/notifications.css';


.mainColor {
    color: #DC9C9C;
}

.bg-pink {
    background-color: #FFF4FE;
}

.radius-7 {
    border-radius: 7px;
}

.border-lightGray {
    border-top: 0.01em solid darkgray !important;
}

.w-35 {
    width: 35%;
}


